body {
  background: url("/dance_media/image/bg2.jpg") center;
  font-family: 'Proxima Nova';
  margin: 0;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

#vkshare0 {
  margin: 0 auto
}

.dansez {
  height: 100vh;
  overflow: hidden;
}

.blurred {
  filter: blur(10px);
  transition: all .2s ease-in-out;
}

.result {
  display: none;
  width: 970px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 360px;
  background-color: rgba(255, 255, 255, 0.502);
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.42);
  border: 1px solid #eee;
  z-index: 9999;
  .result_head {
    width: 100%;
    height: 144px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: inset 0px 1px 94px 0px rgba(0, 0, 0, 0.56);
    color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    font-family: 'Proxima Nova Bold';
    .result_song {
      font-size: 30px;
      margin-bottom: 34px;
      position: relative;
      &:before {
        content: ' ';
        width: 500px;
        background: #eee;
        height: 1px;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        bottom: -17px;
      }
    }
    .result_bpm {
      font-size: 36px;
    }
  }
  .result_info {
    .result_part {
      width: 308px;
      height: 215px;
      float: left;
      position: relative;
      &:before {
        content: ' ';
        position: absolute;
        right: 0;
        width: 1px;
        height: 150px;
        top: 50%;
        margin-top: -75px;
        background: #eee;
      }

      &.c {
        background: url('./image/c.png') center no-repeat;
      }
      &.a {
        background: url('./image/a.png') center no-repeat;
      }
      &.b {
        background: url('./image/b.png') center no-repeat;
      }
      &.p {
        background: url('./image/p.png') center no-repeat;
      }
      &.s {
        background: url('./image/s.png') center no-repeat;
      }
      &.ss {
        background: url('./image/ss.png') center no-repeat;
      }
    }
    $avgMirgin: 15px;
    .result_info_more {
      width: 632px;
      margin-left: 308+15px;
      padding: 34px 0;
      color: #fff;
      font-family: 'Proxima Nova Semibold';
      .result_avgs {
        height: 53px;
        margin-bottom: 28px;
        .result_avg {
          text-align: center;
          display: inline-block;
          vertical-align: top;
          font-size: 24px;
          height: 53px;
          margin: 0 $avgMirgin;
          .avg_part {
            margin-bottom: 10px;
          }
          &:first-child {

            margin: 0;
            margin-right: $avgMirgin;
          }
          &:last-child {
            font-size: 14px;
            margin: 0;
            margin-left: $avgMirgin;
            .avg_part {
              margin-bottom: 15px;
            }
          }
          img {
            vertical-align: top;
            display: block;
          }
          span {
            vertical-align: middle;
          }
        }
      }
      .result_etc {
        margin-left: 59px;
        .result_bonus {
          float: left;
          background-color: rgba(89, 89, 89, 0);
          box-shadow: inset 0px 1px 40px 0px rgba(0, 0, 0, 0.35);
          width: 376px;
          padding: 8.5px 0;
          text-align: center;
          .bonus {
            display: inline-block;
            vertical-align: middle;
            img {
              margin-right: 15px;
              vertical-align: middle;
            }
            &.bonus_money {
              margin-left: 10px;
            }
          }
        }

        .result_button {
          background-color: rgba(89, 89, 89, 0);
          box-shadow: inset 0px 1px 113px 0px rgba(0, 0, 0, 0.44);
          width: 183px;
          height: 65px;
          line-height: 65px;
          color: inherit;
          text-decoration: none;
          text-align: center;
          margin-left: 391px;
          cursor: pointer;
          transition: all .2s ease-in-out;
          &:hover {
            box-shadow: inset 0px 1px 113px 0px rgba(0, 0, 0, 0.88);
          }
        }
      }
    }
  }
}

.effects {
  width: 100%;
  height: 100vh;
  position: fixed;
  &.perfect {
    background-image: -moz-radial-gradient(50% 50%, circle closest-side, rgba(255, 205, 26, 0) 0%, rgba(255, 205, 26, 0.55) 500%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, rgba(255, 205, 26, 0) 0%, rgba(255, 205, 26, 0.55) 500%);
    background-image: -ms-radial-gradient(50% 50%, circle closest-side, rgba(255, 205, 26, 0) 0%, rgba(255, 205, 26, 0.55) 500%);
    animation: perfectEffect .5s linear infinite;
  }
  /*
  &.miss{
  //rgba(255, 0, 0, 0.55)
    background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgba(255,205,26,0) 0%, rgba(255, 0, 0, 0.55) 500%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, rgba(255,205,26,0) 0%, rgba(255, 0, 0, 0.55) 500%);
    background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgba(255,205,26,0) 0%, rgba(255, 0, 0, 0.55) 500%);
    animation: perfectEffect .5s linear infinite;
  }
  &.cool{
    //rgba(255, 0, 0, 0.55)
    background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgba(255,205,26,0) 0%, rgba(29, 108, 255, 0.55) 500%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, rgba(255,205,26,0) 0%, rgba(29, 108, 255, 0.55) 500%);
    background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgba(255,205,26,0) 0%, rgba(29, 108, 255, 0.55) 500%);
    animation: perfectEffect .5s linear infinite;
  }
  &.good{
  //rgba(255, 0, 0, 0.55)
    background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgba(255,205,26,0) 0%, rgba(39, 255, 0, 0.55) 500%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, rgba(255,205,26,0) 0%, rgba(39, 255, 0, 0.55) 500%);
    background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgba(255,205,26,0) 0%, rgba(39, 255, 0, 0.55) 500%);
    animation: perfectEffect .5s linear infinite;
  }
  &.bad{
  //rgba(255, 0, 0, 0.55)
    background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgba(255,205,26,0) 0%, rgb(0, 22, 166) 500%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, rgba(255,205,26,0) 0%, rgb(0, 22, 166) 500%);
    background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgba(255,205,26,0) 0%, rgb(0, 22, 166) 500%);
    animation: perfectEffect .5s linear infinite;
  }*/
}

@keyframes perfectEffect {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.counter {
  position: absolute;
  right: 2%;
  bottom: 2%;
  color: #fff;
  text-align: center;
  font: 18px 'Proxima Nova Semibold';
  .song-info {
    position: absolute;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    top: 50%;
    margin-top: -100px;
    height: 200px;
    box-sizing: border-box;
    line-height: 18px;
    padding: 50px 0;

    .counter-bpm {
      font-size: 24px;
      text-transform: uppercase;
    }
    .counter-name {
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
    }
    .counter-song{
      font-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: pre;
    }

    .counter-time {
      margin-top: 20px;
      position: relative;

      &:before{
        position: absolute;
        content: ' ';
        width: 120px;
        height: 1px;
        top: -10px;
        left: 50%;
        margin-left: -60px;
        background: rgba(73, 65, 78, 1);

      }
    }
  }
  canvas {
    box-shadow: inset 0px 2px 133px 0px rgba(150, 65, 211, 0.3);
    border-radius: 100%;
  }
}
.user-count{
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  color: #fff;
  box-shadow: inset 0px 2px 133px 0px rgba(150, 65, 211, 0.5);
  font-size: 16px;
  padding: 0 15px;
  .user-name{
    float: left;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }
  .user-score{
    float: right;
    text-align: right;
    width: 100px;
  }
}
.user_combo{
  position: absolute;
  top: 0;
  left: 335px;
  color: #fff;
  box-shadow: inset 0px 2px 133px 0px rgba(211,65,65,0.5);
  font-size: 14px;
  padding: 13px 30px;
  font-family: 'Proxima Nova Bold';
  text-transform: uppercase;

  span{
    display: block;
    font-size: 20px;
    text-transform: none;
  }
}

/*.info {
    position: fixed;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14pt;
    color: #fff;
    background: rgba(81, 0, 168, 0.76);
    bottom: 0;
    margin: 0 auto;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    text-align: center;
    padding: 5px;
    box-shadow: inset 0 4px 20px rgba(255, 255, 255, 0.35);
    border-radius: 5px 5px 0px 0px;
    padding-top: 15px;
}*/

.panel {
  margin: 0 auto;
  position: relative;
  width: 513px;
  height: 85px;
  background: url(./image/bg_panel.png) top center no-repeat;
  text-align: center
}

.panel:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle
}

.ar {
  width: 38px;
  height: 47px;
  margin:0 1.5px;
  display: inline-block;
  vertical-align: middle;
  animation: zoomIn .2s;
}

.right {
  background: url(image/right.png) top center no-repeat;
  transition: all .1s linear;
}

.rightkl {
  background: url(image/rightkl.png) top center no-repeat;
  transition: all .1s linear;
}

.up {
  background: url(image/up.png) top center no-repeat;
  transition: all .1s linear;
}

.down {
  background: url(image/down.png) top center no-repeat;
  transition: all .1s linear;
}

.left {
  background: url(image/left.png) top center no-repeat;
  transition: all .1s linear;
}

.upkl {
  background: url(image/upkl.png) top center no-repeat;
  transition: all .1s linear;
}

.downkl {
  background: url(image/downkl.png) top center no-repeat;
  transition: all .1s linear;
}

.leftkl {
  background: url(image/leftkl.png) top center no-repeat;
  transition: all .1s linear;
}
.rating-head {
  background: rgba(255, 255, 255, 0.18);
}
.rating_peoples {
  font-size: 13px;
}
.result-song-info {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  margin-left: 40px;
}

.result-other-rating {
  width: 200px;
  vertical-align: top;
  display: inline-block;
  margin-left: 100px;
  margin-right: 50px;
  span.fio {
    width: 66%;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }
  span.score {
    width: 33%;
    display: inline-block;
    text-align: right;
  }
}

.dance {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  top: 0px;
  position: relative;
}

.spacebar {
  width: 200px;
  height: 23px;
  background: url(image/space.png) top center no-repeat;
  position: relative;
  left: 315px
}

.control {
  width: 45px;
  height: 18px;
  position: relative;
  top: 2px;
  left: 131px;
  background: url(image/control.png);
}

.spacer {
  width: 16px;
  height: 17px;
  background: url(image/spacer.png) top center no-repeat;
  position: relative;
  top: -16px;
  left: 0
}

.ocenka {
  width: 222px;
  height: 61px;
  background: 0 0;
  position: relative;
  left: 303px;
  transition: all .2s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-image: none;
}

.ocenka.perfect {
  background-image: url(image/perfect.png);
  animation: rubberBand .4s;
}

.ocenka.cool {
  background-image: url(image/cool.png);
  animation: rubberBand .4s;
}

.ocenka.good {
  background-image: url(image/good.png);
  animation: rubberBand .4s;
}

.ocenka.bad {
  background-image: url(image/bad.png);
  animation: rubberBand .4s;
}

.ocenka.miss {
  background-image: url(image/miss.png);
  animation: rubberBand .4s;
}

.lvl {
  width: 138px;
  height: 31px;
  background: url(image/lvl.png) top center no-repeat;
  position: relative;
  top: 118px;
  left: 81px;
  z-index: 500
}

.lvlnum {
  width: 36px;
  height: 31px;
  position: relative;
  top: 88px;
  left: 212px
}

.loader {
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: linear-gradient(90deg, #21d4fd 0%, #b721ff 100%);
  background-size: 400% 400%;
  -webkit-animation: button 5s ease infinite;
  -moz-animation: button 5s ease infinite;
  animation: button 5s ease infinite;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  color: #fff;
}

@-webkit-keyframes button {
  0% {
    background-position: 84% 0%;
  }
  50% {
    background-position: 17% 100%;
  }
  100% {
    background-position: 84% 0%;
  }
}

@-moz-keyframes button {
  0% {
    background-position: 84% 0%;
  }
  50% {
    background-position: 17% 100%;
  }
  100% {
    background-position: 84% 0%;
  }
}

@keyframes button {
  0% {
    background-position: 84% 0%;
  }
  50% {
    background-position: 17% 100%;
  }
  100% {
    background-position: 84% 0%;
  }
}

.loader-inner {
  top: 50%;
  position: relative;
  margin-top: -91.5px;
}

.time-bar {
  width: 80%;
  height: 15px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.55);
  margin: 0 auto;
  display: block;
  position: relative;
  box-shadow: inset 0 0 5px black;
}

.bar_inner {
  width: 50%;
  height: 100%;
  display: block;
  background: rgb(255, 255, 255);
  border-radius: inherit;
  box-shadow: inset 0 0 6px 1px rgba(62, 1, 128, 0.43);
  transition: all .2s ease-in-out;
}

.ocnk_obj {
  display: inline-block;
  width: 18%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.ocnk_obj span {
  display: block;
  font-weight: normal;
  font-size: 30px;
}

.bonuses {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: black;
  text-shadow: 0px 1px 4px #ffbc00;
}

span#song-name {
  position: absolute;
  width: 100%;
  left: 50%;
  height: 15px;
  margin-left: -50%;
  line-height: 15px;
  top: 0px;
  font-size: 12px;
  color: red;
  text-shadow: 0px 1px 1px purple;
}

.video-bg {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.video-fg,
.video-bg iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.6;
}

@media (min-aspect-ratio: 16/9) {
  .video-fg {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-bg {
    width: 300%;
    left: -100%;
  }
}
